/* START Jumbotron */
.jumbotron {
  text-align: center;
  background-color: #5C415D !important;
  color: white
}

.underline {
  background-color: white;
}
/* END Jumbotron */

/* START Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  color: #5c415d;
}
/* END Footer */
