Button, .btn {
  background-color: #5C415D !important;
}


/* START Jumbotron */

.jumbotron {
  text-align: center;
  background-color: #5C415D !important;
  color: #f1faee;
}

.underline {
  background-color: #f1faee;
}

/* END Jumbotron */

/* START Footer */

footer {
  bottom: 0;
  width: 100% !important;
  padding-top: 20px;
  color: #5c415d;
  align-self: flex-end;
}

/* END Footer */

/* START NavBar */

.navbar {
  background-color: #5C415D !important;
  width: 100%;
}

.navbar:hover {
  color: #f1faee;
}

/* END NavBar */

/* START Profile Details */

.profileDetails {
  max-height: fit-content !important;
  max-width: 80% !important;
  text-align: left;
  margin: 0 auto;
  float: none;
  margin-top: 10px;
}

.userImage {
  max-width: 20% !important;
  max-height: 20% !important;
  float: left;
}

.editProfile {
  float: right;
  margin-top: 10%;
}

#orgListing {
  border: none;
  max-height: fit-content !important;
  /* width: 80% !important; */
}

/* END Profile Details */

/* START listing */

.edit {
  float: right;
}

#listingName {
  color: #AEA0AE !important;
}

#listingName:hover {
  color: #5C415D !important;
  text-decoration: none !important;
}

.myList {
  max-height: fit-content !important;
  width: 70% !important;
  text-align: left;
  margin: 0 auto;
  /* float: left; */
  margin-top: 10px;
}

/* END Listing */

/* START Reservation */

.reservations {
  max-height: fit-content !important;
  width: 70% !important;
  text-align: left;
  margin: 0 auto;
  float: left;
  margin-top: 10px;
}

#reservationName {
  color: #AEA0AE !important;
}

#reservationName:hover {
  color: #5C415D !important;
  text-decoration: none !important;
}

.float-right {
  margin-right: 2%
}

/* END Reservation */

/* START ListingDetails */

.listingDetail {
  max-height: fit-content !important;
  width: 65% !important;
  text-align: left;
  margin: 0 auto;
  float: left;
  margin-top: 20px !important;
}

.marginTop {
  margin-top: 10px;
}

.icon {
  max-width: 20% !important;
  float: left ;
}

.map {
  height: 300px !important;
  width: 300px !important;
  max-width: 70%;
  margin: 0 auto;
  float: right;
  margin-top: 10px;
  border: none;
}

.mapPush {
  max-width: 50% !important;
  max-height: 50% !important;
  float: right;
}

.contents {
  border: none !important;
  float: left;
  width: 100% !important;
  max-height: fit-content !important;
}

.donateRequest {
  float: right
}

.editListing {
  float: right;
}

/* END ListingDetails */

/* START Search */

.searchForm {
  margin-top: 10px;
  border: none !important;
}

.filter {
  max-height: fit-content !important;
  width: 50% !important;
  text-align: left;
  margin: 0 auto;
  float: left;
  margin-top: 10px;
}

.clear {
  margin-right: 2%;
  margin-bottom: 2%;
}

.apply {
  margin-bottom: 2%;
}

.data {
  max-height: 50% !important;
  width: 50% !important;
  align-content: center;
  margin: 0 auto;
  float: right;
  margin-top: 10px;
  border: none !important;
}

/* END Search */

/* START NewListing */

#newItem {
  float: right;
}

#submit {
  float: right;
  margin-right: 2%;
}

#find {
  background-color: #5C415D !important;
  color: #f1faee;

}

/* END NewListing */

/* Start Password-icon */
/* .password-icon {
  position: absolute;
  top: 187px;
  right: 55px;
  cursor: pointer;
} */

/* .signuppassword-icon {
  position: absolute;
  top: 207px;
  right: 40px;
  cursor: pointer;
} */

/* .signuppassword-icon2 {
  position: absolute;
  top: 262px;
  right: 40px;
  cursor: pointer;
} */

/* End Password-icon */